/* TestCSS.css */
/* Programmé par Lyse Chamberland */
/* Le 14 mars 2019 */

#sectionEtudes
{
    Background-color: peachpuff;
}

#sectionLoisirs
{
    Background-color: bisque;
}

#sectionReves
{
    Background-color: olivedrab;
}

#sectionSports
{
    Background-color: lightsteelblue;
}