/* TestCSS.css */
/* Programmé par Lyse Chamberland */
/* Le 14 mars 2019 */

#sectionEtudes
{
    Background-color: papayawhip;
}

#sectionLoisirs
{
    Background-color: olivedrab;
}

#sectionReves
{
    Background-color: blueviolet;
}

#sectionSports
{
    Background-color: yellowgreen;
}