/* TestCSS.css */
/* Programmé par Lyse Chamberland */
/* Le 7 mars 2019 */


body
{
    width: 900px; /*Largeur du site*/
    margin: auto; /* pour centrer le site en largeur */
    background: url(../img/Fond-site.jpg) no-repeat top;
    margin: auto;
    background-color: aliceblue;
}

img
{
    display:block;margin:auto;
}

h1 /* caractéristiques propres */
{
    font-size: 36px;
}

h2 /* caractéristiques propres */
{
    font-size: 24px;
}

h1, h2 /* caractéristiques communes */
{
    color: darkmagenta;
    text-align: center;
}

p
{
    font-size: 14px;
    text-align: justify;
}

a {
    color: lightskyblue;
}

a:visited
{
    color : darkblue;
}

a:hover
{
    color : plum;
}